.contact-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 30px;
  padding: 30px 120px;
  &__heading {
    display: flex;
    justify-content: center;
    h1 {
      display: block;
      font-size: 4rem;
      margin-block-start: 0.67rem;
      margin-block-end: 0.67rem;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
    }
  }
  &__content {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    p {
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 1200px) {
  .contact-container {
    padding: 0 85px;
  }
}
@media (max-width: 650px) {
  .contact-container {
    padding: 20px;
    text-align: center;
    &__heading {
      height: fit-content;
      height: 3rem;
      margin: 0px;
      h1 {
        font-size: 3rem;
        line-height: 3rem;
      }
    }
    &__content {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
}
