.action {
  grid-area: action;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;

  &__dropdown {
    position: relative;
    display: inline-block;

    button {
      background-color: transparent;
    }
    &--avatar {
      width: 36px;
      height: 36px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }

    &--content {
      position: absolute;
      display: none;

      background-color: #333;
      color: white;
      min-width: 150px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      z-index: 1;
      top: 130%;
      right: 0px;

      &::after {
        content: "";
        position: absolute;
        top: -20px;
        right: 10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;

        border-bottom: 10px solid #333;
      }
    }

    &:hover .action__dropdown--content {
      display: block;
    }
  }
  &__cart {
    position: relative;
    cursor: pointer;

    svg {
      width: 30px;
      height: 30px;
    }
    &--quantity {
      position: absolute;
      top: -12px;
      right: -7px;
      background: rgba(255, 0, 0, 0.441);
      font-size: 10px;
      color: white;
      padding: 3px 5px;
      border-radius: 50%;
    }
  }
}
@media (max-width: 1024px) {
  .action {
    gap: 10px;
    justify-content: flex-start;
  }
}
@media (max-width: 650px) {
  .action {
    gap: 20px;
    &__dropdown {
      &:hover .action__dropdown--content {
        display: none;
      }
    }
  }
}
