.ListProductContainer {
  padding: 30px;

  .main {
    border: 0.5px solid lightgray;
    padding: 20px;
    margin-top: 20px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 100px;
      .search {
        border: 1px solid lightgray;
        padding: 10px;
        width: 200px;
      }
      .sort {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        &-category,
        &-timeLast {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid lightgray;
        }
      }
    }
    .content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 20px;
      row-gap: 20px;

      margin-top: 20px;
      .item {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        border-radius: 5px;

        &__img {
          height: 250px;
          width: 100%;
          display: block;
          border-radius: 5px;
          object-fit: cover;
        }

        &__title,
        &__price {
          padding: 5px 10px;
          font-size: 20px;
          font-weight: bolder;
        }

        &__title {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        &__price {
          font-size: 20px;
          color: var(--mainColor);
        }

        &__adjust {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 5px;
          padding: 5px 10px;

          &--update,
          &--delete {
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 20px;
          }
          &--update {
            background-color: var(--mainColor);

            &:hover {
              color: var(--mainColor);
              background: var(--backgroundIcon);
            }
          }
          &--delete {
            background-color: red;

            &:hover {
              color: red;

              background-color: rgb(226, 175, 175);
            }
          }
        }
      }
    }

    .noProductList {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
