.slider-container {
  grid-area: slider;
  max-width: 1300px; /* Set a maximum width */
  margin: 0 auto; /* Center the container */

  img {
    display: block;
    height: 50vh;
    width: 100%;
  }
}
.slick-slide {
  width: 100%;
  /* Set a fixed height or let it adjust based on content */
  height: 300px;
}
@media (max-width: 1024px) {
  .slider-container {
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .slider-container {
    max-width: 768px;
  }
}

@media (max-width: 480px) {
  .slider-container {
    max-width: 480px;
  }
}
