.field {
  width: 100%;
  float: left;
  padding: 0.45em;
  box-sizing: border-box;
  &__input-wrapper {
    margin-right: 0;
  }
  &__label {
    font-size: 0.85714em;
    font-weight: normal;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 0.93333em;
    z-index: 1;
    transform: translateY(3px);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    opacity: 0;
    filter: alpha(opacity=0);
    color: #999999;
    transition: all 0.2s ease-out;
    margin: 0.5em 0;
    margin-top: 0.3em;
    display: block;
  }
  &__input {
    border: 1px solid black;
    box-shadow: 0 0 0 1px #d9d9d9;
    transition: all 0.2s ease-out;
    background-color: white;
    color: #333333;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.94em 2.8em 0.94em 0.8em;
    word-break: normal;
  }
}
.field-two-thirds {
  width: 66.66667% !important;
}
.field-third {
  width: 33.33333% !important;
}
@media (max-width: 650px) {
  .field-two-thirds {
    width: 100% !important;
  }
  .field-third {
    width: 100% !important;
  }
}
