.sidebar {
  flex: 1;
  border-right: 1px solid lightgray;
  min-height: 100vh;
  background-color: white;

  .top {
    height: 90px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      .icon {
        font-size: 25px;
        color: gray;

        &__logo {
          display: block;
          font-size: 40px;
          color: #009933;
        }
      }
      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #009933;
      }
    }
  }

  .center {
    .active {
      .item {
        background-color: #ccccff;
        .icon {
          color: #009933;
        }
      }
    }
    .item {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      .icon {
        font-size: 18px;
        color: gray;
      }
      span {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
