.formCategory {
  select {
    border: 1px solid gray;
    color: black;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    text-transform: uppercase;
  }
}
