.cart__row {
  &--image {
    grid-area: img;

    img {
      display: block;
      width: 200px;
      height: 200px;
    }
  }
  &--product {
    grid-area: name;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .h4 {
      font-size: 2rem;
      font-weight: 600;
      color: #666666;
      text-transform: uppercase;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &--remove {
    display: block;
    font-size: 1.5rem;
    margin-left: 0;
    background-color: white;
    span {
      font-size: 2rem;
      color: red;
      margin-left: 0;
    }
    &-icon {
      display: none;
    }
  }
  &--amount {
    grid-area: quantity;

    display: flex;
    align-items: center;
    justify-content: center;
    div {
      border: 1px solid gray;
      display: flex;
      width: 200px;
    }
    button {
      width: 70px;
      height: 30px;
      text-align: center;
    }
    span {
      height: 30px;
      width: 200px;
      color: black;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      margin-left: 0px;
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
  &--price {
    grid-area: price;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &--total {
    grid-area: total;
    font-size: 2rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .cart__row {
    .colspan {
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    &--image {
      img {
        display: block;
        width: 100%;
      }
    }
    &--product {
      .h4 {
        font-size: 1.6rem;
      }
    }

    &--amount {
      button {
        width: 50px;
      }
    }
  }
}
@media (max-width: 650px) {
  .cart__row {
    &--image {
      grid-area: img;
      img {
        width: 150px;
        height: 150px;
      }
    }
    &--product {
      grid-area: name;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &--remove {
      display: none;
      font-size: 1.5rem;
      margin-left: 0;
      background-color: white;

      &-icon {
        display: block;
      }
    }
    &--amount {
      grid-area: quantity;
    }
    &--price {
      grid-area: price;

      justify-content: flex-start;
    }
    &--total {
      grid-area: total;
      font-size: 1.8rem;
      justify-content: flex-start;
    }
  }
}
