.productContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-transform: uppercase;
  }
  .content {
    display: grid;
    grid-template-columns: 250px 1fr;
    column-gap: 30px;
    .sidebar {
      display: flex;
      flex-direction: column;
      border: 1px solid lightgray;
      padding: 10px;
      height: 710px;

      h3 {
        height: 50px;
        display: flex;
        align-items: center;
        color: var(--mainColor);
      }
      &__container {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        gap: 15px;
        input {
          width: 15px;
          height: 15px;
        }
        input[type="checkbox"] {
          box-sizing: border-box;
          padding: 0;
          accent-color: var(--backgroundIcon);
        }
      }
    }
    .product {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 10px;
      row-gap: 10px;
      border: none !important;

      &__item {
        overflow: hidden;
        box-shadow: 2px 8px 20px #ddd;
        border: 1px solid lightgray;
        padding: 10px;
        height: 350px;

        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.02);
          transition: all 0.3s;
        }

        &--img {
          width: 100%;
          height: 200px;
          display: block;
          object-fit: cover;
          position: relative;
        }

        &--content {
          text-transform: uppercase;
          margin: 10px;
          row-gap: 10px;
          display: grid;
          grid-template-rows: 1fr 1fr 2fr;
        }
        &--title {
          font-size: 1.5rem;
          font-weight: bold;

          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        a {
          color: #2d2727 !important;
        }
        &--button {
          border: none;
          outline: none;
          border-radius: 5px;

          background: var(--backgroundIcon);
          color: var(--mainColor);
          width: 100%;
          height: 35px;

          display: block;
          cursor: pointer;

          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px;

          &:hover {
            color: #333;
            background-color: white;
            border: 1px solid var(--mainColor);
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .product__item {
    &--img {
      height: 250px;
    }
  }
}

@media (max-width: 650px) {
  .productContainer {
    .title {
      font-size: 20px;
    }
    .content {
      display: grid;
      grid-template-columns: 1fr;
      .sidebar {
        display: none;
      }
      .product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        border: none !important;
        &__item {
          border-radius: 10px;

          &--img {
            height: 185px;
          }

          &--title {
            font-size: 1.2rem;
            margin-top: 5px;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &--content {
            height: 60px;
          }
          &--button {
            font-size: 1rem;
            height: 25px;
          }
        }
      }
    }
    .product__item {
      border-radius: 10px;

      &--img {
        height: 185px;
      }

      &--title {
        font-size: 1.2rem;
        margin-top: 5px;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &--content {
        height: 60px;
      }
      &--button {
        font-size: 1rem;
        height: 25px;
      }
    }
  }
}
