.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 40px 220px;
  border: none !important;
}
.pagination {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .product {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    padding: 20px 70px;
  }
}

@media (max-width: 650px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
  }
}
