.dashBoardContainer {
  padding: 30px;
  //   background-color: #f2f2f2;

  .title {
    font-size: 30px;
    font-weight: bolder;
    padding-left: 20px;
  }
  .widgetAdmin {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding: 20px;
  }
}
