.container__wrapper {
  *zoom: 1;
  margin: 20px 120px;
  padding: 0 15px;
  font-size: 1.6rem;
  .header {
    &__breadcrumb {
      a {
        display: inline-block;
        color: #facd7e;
      }
      span {
        display: inline-block;
        color: #666666;
        margin: 0px 5px;
        &:last-child {
          margin: 0px;
        }
      }
    }
  }
  .cart {
    &__table {
      border: none;
    }

    &__row {
      position: relative;
      margin-top: 30px;
      padding-top: 30px;
      border-top: 1px solid #f0f0f0;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: "img name price quantity total";
      gap: 10px;
      padding: 30px;
      .text-center {
        text-align: center;
      }
    }
    &__footer {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 20px;
      &--note {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;

        textarea {
          height: 100px;
          padding: 10px;
        }
      }
      &--total {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        &--title {
          font-size: 2rem;
          .h3 {
            color: #facd7e;
            padding-left: 5px;
            font-size: 3rem;
          }
        }
        &--btn {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 10px;
          .btnCart {
            height: 50px;
            background-color: #666666;
            height: 40px;
            line-height: 40px;
            border-radius: 3px;
            margin-bottom: 10px;

            a {
              width: 100%;
              color: #f0f0f0;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .container__wrapper {
    margin: 20px;
    padding: 0 5px;
    font-size: 1.6rem;

    .cart {
      &__row {
        padding: 15px;
        .text-center {
          text-align: center;
        }
      }
      &__footer {
        grid-template-columns: 1fr 1fr;
        &--note {
          textarea {
            height: 100px;
            padding: 10px;
          }
        }
        &--total {
          &--title {
            font-size: 1.6rem;
            .h3 {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .container__wrapper {
    margin: 10px;

    .cart {
      &__row {
        position: relative;

        grid-template-areas: "img name " "img price" "img quantity" "img total";

        padding: 5px;
        .text-center {
          display: none;
        }
      }
      &__footer {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
      }
    }
  }
}
