.product__item--sale {
  position: absolute;
  font-size: 12px;
  line-height: 1;
  padding: 5px 10px;
  font-weight: bold;
  z-index: 9;
  background: #fff;
  border: 1px solid #ededed;
  color: #f94c43;
  margin: 10px;
}
