.user {
  &__row {
    display: grid;
    grid-template-columns: 1fr 3fr 5fr 2fr 2fr 2fr 3fr;
    border-bottom: 1px solid;
    .text {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      padding: 10px 5px;
      border-right: 1px solid black;
    }
    &--action {
      display: flex;
      justify-content: center !important;
      svg {
        color: var(--mainColor);
      }
    }
  }
}
