.paginationContainer {
  padding: 20px 0px;
  display: flex;
  justify-content: flex-end;

  li {
    cursor: pointer;
    color: black;
    padding: 10px;
    border: 1px solid var(--mainColor);
    margin: 5px;
  }
  .active {
    font-weight: bold;
    background-color: var(--mainColor);
  }
}
