.order {
  &__row {
    display: grid;
    grid-template-columns: 3fr 4fr 2fr 2fr 2fr 3fr 2fr;
    border-bottom: 1px solid;

    .text {
      display: flex;
      align-items: center;
      font-size: 1.6rem;
      padding: 10px;
      border-right: 1px solid black;
    }
    &--status {
      display: flex;
      align-items: center;
      justify-content: center;
      &--btn {
        width: 120px;
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: 1.4rem;
        text-align: center;
        color: white;
      }
    }
    &--action {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        svg {
          color: var(--mainColor);
        }
      }
    }
  }
  &__empty {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
