.formGroup {
  width: 600px;
  font-size: 1.6rem;
  border: 1px solid white;
  margin-top: 15px;
  margin-bottom: 20px;
  height: 40px;
  border: 1px solid rgb(202, 197, 197);
  display: flex;

  &__icon {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    span {
      width: 25px;
      height: 25px;
      margin-left: 0;
      svg {
        width: 100%;
        height: 100%;
        color: gray;
      }
    }
  }

  &__err {
    display: flex;
    align-items: center;
    padding-right: 10px;
    width: 600px;
    color: red;
    font-size: 1.4rem;
  }

  &__input {
    position: relative;
    height: 100%;
    padding: 0 10px;
    background-color: white;
    outline: none;
    flex-grow: 5;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 20px;

      width: 20px;
      height: 20px;
      background-color: red;
      color: red;
    }
    &::placeholder {
      font-size: 1.4rem;
      border: none;
      background-color: white;
      color: #272424;
    }
  }
}
@media (max-width: 1024px) {
  .formGroup {
    width: 500px;
  }
}
@media (max-width: 650px) {
  .formGroup {
    width: 350px;
  }
}
