.product__item {
  overflow: hidden;
  box-shadow: 2px 8px 20px #ddd;
  border: none;
  border-radius: 20px;
  margin: 10px;

  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
    transition: all 0.3s;
  }

  &--img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    position: relative;
  }

  &--content {
    text-transform: uppercase;
    margin: 10px;
    row-gap: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
  }
  &--title {
    font-size: 1.5rem;
    font-weight: bold;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a {
    color: #2d2727 !important;
  }
  &--button {
    border: none;
    outline: none;
    border-radius: 5px;

    background: #333;
    color: white;
    width: 100%;
    height: 35px;

    display: block;
    cursor: pointer;

    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      color: #333;
      background-color: white;
      border: 1px solid black;
    }
  }
}
@media (max-width: 1024px) {
}

@media (max-width: 650px) {
  .product__item {
    border-radius: 10px;

    &--img {
      height: 185px;
    }

    &--title {
      font-size: 1.2rem;
      margin-top: 5px;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &--content {
      height: 60px;
    }
    &--button {
      font-size: 1rem;
      height: 25px;
    }
  }
}
